/vendor
/node_modules
.env
.env.example
.env.local
.env.testing
.env.production
/public/storage
/storage/app/public
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/*.php
/bootstrap/cache/*.php
.DS_Store
Thumbs.db
.phpunit.result.cache
.php_cs.cache
*.swp
*.swo
*~